WcfProxy/Service References/CountryServiceReference/CountryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CountryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59546/ICountryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59546/ICountryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59546/ICountryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CountryWcfService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICountryService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="ICountryService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICountryService_SaveCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCountry" />
  </wsdl:message>
  <wsdl:message name="ICountryService_SaveCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ICountryService_Clear_InputMessage">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="ICountryService_Clear_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearResponse" />
  </wsdl:message>
  <wsdl:portType name="ICountryService">
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountryService/GetCountries" message="tns:ICountryService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountryService/GetCountriesResponse" message="tns:ICountryService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountryService/SaveCountry" message="tns:ICountryService_SaveCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountryService/SaveCountryResponse" message="tns:ICountryService_SaveCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountryService/Clear" message="tns:ICountryService_Clear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountryService/ClearResponse" message="tns:ICountryService_Clear_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICountryService" type="tns:ICountryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/ICountryService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCountry">
      <soap:operation soapAction="http://tempuri.org/ICountryService/SaveCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <soap:operation soapAction="http://tempuri.org/ICountryService/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CountryService">
    <wsdl:port name="BasicHttpBinding_ICountryService" binding="tns:BasicHttpBinding_ICountryService">
      <soap:address location="http://localhost:59546/ICountryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>